<h2 id="patrocinadores">PATROCINADORES</h2>
<table>
    <tr>
        <td align="center"><a href="http://espanix.es"><center><img src="/gore31/img/logo_espanix_200.png" alt="Espanix"></a></td>
        <td align="center"><a href="http://ipbroker.com"><center><img src="/gore31/img/ipbroker_200.png" alt="IPBroker"></a></td>
        <td align="center"><a href="https://ripe.net"><center><img src="/gore31/img/RIPE_NCC_Logo_200.png" alt="RIPE"></a></td>
    </tr>
</table>
<style>
 td, th, tr, table {
    border: 0 !important;
    border-spacing:0 !important;
  }
</style>
