<h2 id="patrocinadores">PATROCINADORES</h2>
<table>
    <tr>
        <td align="center"><a href="https://www.catnix.net/es/"><img src="/gore30/img/catnix-200.jpg" alt="Catnix"></a></td>
        <td align="center"><a href="http://espanix.es"><center><img src="/gore30/img/logo_espanix_200.png" alt="Espanix"></a></td>
        <td align="center"><a href="https://www.internetsociety.org"><center><img src="/gore30/img/ISOC_Logo_200.jpg" alt="ISOC"></a></td>
        <td align="center"><a href="https://www.mercadoit.com/es/"><center><img src="/gore30/img/Logo-MERCADOIT_200.png" alt="Mercado IT"></a></td>
    </tr>
</table>
<table>
    <tr>
		<td align="center"><a href="https://www.global.ntt"><center><img src="/gore30/img/NTT_200.jpg" alt="NTT"></a></td>
		<td align="center"><a href="https://https://opengear.com"><center><img src="/gore30/img/opengear_200.png" alt="Opengear"></a></td>
        <td align="center"><a href="https://ripe.net"><center><img src="/gore30/img/RIPE_NCC_Logo_200.png" alt="RIPE"></a></td>
    </tr>
    <tr>
        <td align="center"><a href="https://www.solid-optics.com"><center><img src="/gore30/img/SO_Logo_200.png" alt="Solid Optics"></a></td>
        <td align="center"><a href="https://tecnocratica.net"><center><img src="/gore30/img/tecnocratica_200.png" alt="Tecnocratica"></a></td>
		<td align="center"><a href="https://www.upc.edu/ca"><center><img src="/gore30/img/UPC_200.jpg" alt="UPC"></a></td>
    </tr>
</table>
<style>
 td, th, tr, table {
    border: 0 !important;
    border-spacing:0 !important;
  }
</style>